/* ---****---
google fonts
----***---- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ___body base___* */
body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.main-container {
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 7%;
    margin-bottom: 5%;
    border-radius: 30px;
}
/* ---__*
header styles 
___--** */

header{
    height: 600px;
    background: #161616f1; 
    border-radius: 30px;
    margin-bottom: 100px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    flex-direction: column;
    align-items: center; 
} 
.world-cup h1{
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 0;
    color: white; 
}
.world-cup p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
.watch-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    width: 150px;
    height: 30px;
    background-color: #DD0000;
    border-radius: 5px;
    transition: width 2s ease-in-out 0.75s, height 2s ease-in-out 0.75s, transform 3s;
}
/* hover style with transition and transform  */
.watch-link:hover{
    height:50px ;
    width: 200px;
    justify-content: center;
    background-color: blueviolet;
    transform: scale(1.1);
}
.anchor a{
    text-decoration: none;
    color: white;
}
.arrow{
    color: #fff;
}
.player-imges img {
   width: 83%;
}

/*__***-*--------
 match details styles
 ----- ___** */
aside {
    width: 300px;
    height: 330px;
    background: #161616;
    border-radius: 10px;
    bottom: 27px;
    float: left;
    position: sticky;
    margin-right: 24px;
    
    
}
.aside-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.link-btn{
    height: 40px;
    width: 250px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 30px;
    text-align: center;
    padding-top: 10px;
} 
 .aside-nav a{
    text-decoration: none;
    font-size: 20px;
    color: #161616;
 }

 #blog{
    background-color: #DD0000;
    transition: width 1.5s ease-in-out 0.75s, height 1.5s ease-in-out 0.75s,;
 }
 #blog:hover{
    width: 260px;
    background-color: rgba(0, 255, 255, 0.822);
 }
 #blog a{
    color: white;
 }


 .blogs-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 16px;
    row-gap: 24px;
    width: 250px;
 }

 .blogs{
    width: 280px;
    height: 400px;
 }

 .blog-imges{
    border: 1px solid rgba(211, 211, 211, 0.473);
    border-radius: 10px;
    width: 250px;
 }

 .blog-imges img{
    width: 250px;
    height: 180px;
 }

 .blog-info h1{
    font-size: 16px;
    width: 170px;
    color: #161616;
    border: 1px solid;
    text-align: center;
    margin-left: 10px;
 }

 .blog-info p {
    color: #161616;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
 }

 .icons{
    
    display: flex;
    justify-content: space-around;
 }
 
 .icons .fa-clock, .fa-comment-dots{
    margin-right: 10px;
 }

 /* *****----*
 footer style  
 -------*****/
footer{
    background-color: #161616;
}

.footer-details{
    margin: 0 10%;
   
}
 footer #header-titel{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 6% 0;
 }

 .footer-style{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .footer-style h4{
    padding: 0 20px;
    color: #B9B9B9;
    font-weight: 400;

 }

 
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
 }
 
 .styles{
     padding: 24px;
     color: #FFFFFF;
 }

 /*___**--------
  media quirey style
  ___****___----  */

  